<div class="row mx-auto bg-theme text-white">
  <div class="col-5">
    <div class="row">
      <div class="col card chart-card mx-1 my-1 card-theme">
        <p class="text-center text-uppercase">Commercial Damage</p>
        <div id="chartdiv" style="height: 200px"></div>
      </div>
      <div class="col card chart-card mx-1 my-1 card-theme">
        <p class="text-center text-uppercase">Public Facilities Damage</p>
        <div id="chartTwo" style="height: 200px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col card graph-card mx-1 my-1 card-theme">
        <!-- <div id="chartdiv" style="width: 100%; height: 350px"></div> -->
        <p class="text-center">LIVE DAMAGE</p>
        <div id="chartguage" style="width: 100%; height: 300px"></div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col card map-card mx-1 my-1">
        <!-- <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        </agm-map> -->
        <div class="map" id="map" class="match-parent"></div>
      </div>
    </div>
    <div class="row">
      <div class="col card analytics-card mx-1 my-1 card-theme">
        <small class="text-center text-uppercase">Residential Damage Assessment</small>
        <h1 class="analytics-text" style="color: #BB86Fc">147</h1>
      </div>
      <div class="col card analytics-card mx-1 my-1 card-theme">
        <small class="text-center text-uppercase">Search & Resuce contacts made</small>
        <h1 class="analytics-text" style="color: greenyellow">32</h1>
      </div>
      <div class="col card analytics-card mx-1 my-1 card-theme">
        <small class="text-center text-uppercase">Completed Medical Assessment</small>
        <h1 class="analytics-text" style="color: #CF6679">140</h1>
      </div>
      <div class="col card analytics-card mx-1 my-1 card-theme">
        <small class="text-center text-uppercase">Approved Resource Request</small>
        <h1 class="analytics-text" style="color: #03DAC6">987</h1>
      </div>
    </div>
  </div>
</div>
